Flask
tensorflow
keras
pandas
numpy
regex
scikit-learn
Pillow
nltk
tokenizers
joblib
black
click
urllib3
certifi
chardet
click
configparser
itsdangerous
Jinja2
MarkupSafe
requests
gunicorn
idna
requests
Werkzeug